<section id="follow" class="py-4">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <h1>Follow us on</h1>
            <a href="#">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter-square"></i>
            </a>
        </div>
    </div>
</section>
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-md-3">
                <div class="bg-white rounded p-3 mr-5">
                    <img src="/images/logo.png" class="img-fluid" alt="logo">
                </div>
            </div>
            <div class="col-md-3">
                <h5>Customer support</h5>
                <ul class="list-unstyled quick-links">
                    <li>
                        <a href="#">
                            <i class="fa fa-angle-double-right"></i>Hotline: 123 456 789</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-angle-double-right"></i>123 Street, HCMC</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>About us</h5>
                <ul class="list-unstyled quick-links">
                    <li>
                        <a href="#">
                            <i class="fa fa-angle-double-right"></i>Introduction</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-angle-double-right"></i>Contact</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-angle-double-right"></i>Payment</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-angle-double-right"></i>Help</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Payment methods</h5>
                <ul class="list-unstyled payment d-flex flex-wrap justify-content-center justify-content-lg-start">
                    <li>
                        <a href="#">
                            <i class="fab fa-cc-visa"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-cc-mastercard"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-cc-paypal"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>1512165 - 1512233 - Frontend project HCMUS</p>
                <p class="h6">&copy All right Reversed
                </p>
            </div>
        </div>
    </div>
</section>
{{!-- End footer --}}