<header>
    <div class="top-nav">
        <div class="container">
            <nav id="main-nav" class="navbar navbar-light navbar-expand-lg">
                <a class="navbar-brand" href="/">
                    <img class="img-fluid" src="/images/logo.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/product">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/design">Design</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">
                                <i class="fas fa-shopping-cart align-middle"></i>
                                <span class="align-middle d-none d-lg-inline">Cart</span>
                                <span class="badge badge-primary">{{session.cart.totalQty}}</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fas fa-user-circle align-middle"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                {{#if login }}
                                <a class="dropdown-item" href="/user/profile">Profile</a>
                                {{#if admin}}
                                <a class="dropdown-item" href="/admin">Administrator</a>
                                {{/if}}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/user/logout" onclick="onLogout()">Log out</a>
                                {{ else }}
                                <a class="dropdown-item" href="/user/register">Sign up</a>
                                <a class="dropdown-item" href="/user/login">Sign in</a>
                                {{/if}}
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>