<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <title>HKShop Website - Create your dream shirt</title>
</head>

<body>
    {{>header}} 
    {{{body}}} 
    {{>footer}} 
    
    {{>foot}}
</body>

</html>