<section class="banner-section">
    <img class="img-fluid" src="/images/banner.webp" alt="banner">
    <div class="banner-title">
        <h1>HKSHOP</h1>
        <p>Create your dream shirts</p>
    </div>
</section>
<section id="products" class="py-5">
    <div class="container">
        <h1 class="title">Our products</h1>
        <div class="bar mb-5"></div>
        <div class="slick-carousel">
            <div>
                <div class="product-item mx-4">
                    <div class="card">
                        <div class="img-wrapper p-2 border-bottom">
                            <img class="img-fluid m-auto" src="/images/product/1.jpg" alt="product photo">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Shirt 1</h5>
                            <h6 class="card-subtitle font-weight-bold mb-2 text-muted text-center">55.000</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="product-item mx-4">
                    <div class="card">
                        <div class="img-wrapper p-2 border-bottom">
                            <img class="img-fluid m-auto" src="/images/product/2.jpg" alt="product photo">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Shirt 1</h5>
                            <h6 class="card-subtitle font-weight-bold mb-2 text-muted text-center">20.000</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="product-item mx-4">
                    <div class="card">
                        <div class="img-wrapper p-2 border-bottom">
                            <img class="img-fluid m-auto" src="/images/product/3.jpg" alt="product photo">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Shirt 1</h5>
                            <h6 class="card-subtitle font-weight-bold mb-2 text-muted text-center">40.000</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="product-item mx-4">
                    <div class="card">
                        <div class="img-wrapper p-2 border-bottom">
                            <img class="img-fluid m-auto" src="/images/product/4.jpg" alt="product photo">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Shirt 1</h5>
                            <h6 class="card-subtitle font-weight-bold mb-2 text-muted text-center">20.000</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="product-item mx-4">
                    <div class="card">
                        <div class="img-wrapper p-2 border-bottom">
                            <img class="img-fluid m-auto" src="/images/product/1.jpg" alt="product photo">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Shirt 1</h5>
                            <h6 class="card-subtitle font-weight-bold mb-2 text-muted text-center">30.000</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="design" class="darker py-5">
    <div class="container">
        <h1 class="title">Simple steps</h1>
        <div class="bar mb-5"></div>
        <div class="row">
            <div class="col-md-5 d-flex align-items-center">
                <div class="list-group w-100" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-step1-list" data-toggle="list" href="#list-step1" role="tab">Choose your shirt size</a>
                    <a class="list-group-item list-group-item-action" id="list-step2-list" data-toggle="list" href="#list-step2" role="tab">Start designing</a>
                    <a class="list-group-item list-group-item-action" id="list-step3-list" data-toggle="list" href="#list-step3" role="tab">Make an order</a>
                </div>
            </div>
            <div class="col-md-7 d-flex justify-content-center">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-step1" role="tabpanel" aria-labelledby="list-home-list">
                        <div class="img-wrapper">
                            <img class="img-fluid" src="/images/steps/1.png" alt="">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-step2" role="tabpanel" aria-labelledby="list-profile-list">
                        <div class="img-wrapper">
                            <img class="img-fluid" src="/images/steps/2.png" alt="">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-step3" role="tabpanel" aria-labelledby="list-messages-list">
                        <div class="img-wrapper">
                            <img class="img-fluid" src="/images/steps/3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="service" class="py-5">
    <div class="container">
        <h1 class="title">Why choose us</h1>
        <div class="bar"></div>
        <div class="blocks">
            <div class="row">
                <div class="col-md-4">
                    <div class="block-content">
                        <div class="block-icon">
                            <i class="far fa-gem"></i>
                        </div>
                        <h2 class="block-title">Low price</h2>
                        <p class="paragraph">We offer the best products with the best prices on the market</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-content">
                        <div class="block-icon">
                            <i class="far fa-paper-plane"></i>
                        </div>
                        <h2 class="block-title">Fast</h2>
                        <p class="paragraph">Get your orders immediately with our 24h-shipping for free</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-content">
                        <div class="block-icon">
                            <i class="far fa-newspaper"></i>
                        </div>
                        <h2 class="block-title">Excellent quality</h2>
                        <p class="paragraph">We offer excellent quality products that are approved by many customers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="media" class="darker py-5">
    <div class="container">
        <h1 class="title">What people talk about us</h1>
        <div class="bar mb-5"></div>
        <div class="row mb-lg-5">
            <div class="col-md-6">
                <div class="media">
                    <img class="align-self-start mr-3 rounded-circle" src="/images/avatar.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 font-weight-bold">Valery Melon</h5>
                        <p>Best shirt designer ever!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <img class="align-self-start mr-3 rounded-circle" src="/images/avatar.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 font-weight-bold">Darren Skipper</h5>
                        <p>Very good! Product's designs are awesome </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <img class="align-self-start mr-3 rounded-circle" src="/images/avatar.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 font-weight-bold">John Apple</h5>
                        <p>Great features, keep on improving</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <img class="align-self-start mr-3 rounded-circle" src="/images/avatar.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 font-weight-bold">Anne Banana</h5>
                        <p>Nice website! Bought my favorite shirt here last week</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>